<div class="container" id="logo">
        <%= image_tag("R2300.jpg") %>
        <h1>formularz bookingowy jacka sienkiewicza / recognition records</h1>
</div>

    <div class="container" id="formular">
        <%= form_tag("/static_pages/thank_you") do %>
            <h1> <strong>Dane kontaktowe<strong></h1><br><hr>
            <div class="form-group">
                <%= label_tag :name, 'Imię i Nazwisko / Nazwa firmy' %>
                <%= text_field_tag :name, nil, class: "form-control input-sm" %>
            </div> 

            <div class="form-group">
                <%= label_tag :adres, 'Adres' %>
                <%= text_field_tag :adres, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :tel, 'Telefon kontaktowy' %>
                <%= text_field_tag :tel, nil, class: "form-control input-sm" %>
            </div>
          
            <div class="form-group">
                <%= label_tag :email, 'Adres e-mail' %>
                <%= text_field_tag :email, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :adreswww, 'Adres strony www' %>
                <%= text_field_tag :adreswww, nil, class: "form-control input-sm" %>
            </div>
            <br>

            <h1> <strong>oferta<strong></h1><br><hr>

            <div class="form-group">
                <%= label_tag :date, 'Planowana data wydarzenia' %>
                <%= text_field_tag :date, nil, class: "form-control input-sm" %>
            </div>

            
            <div claa="form-group">
                <%= label_tag :set, 'Jaki set miałby być wykonany w ramach imprezy?' %>
                <select class="form-control input-sm" id="set" placeholder="Wybierz...">
                    <option>Experimental/Ambient DJ set</option>
                    <option>Experimental/Ambient Live act</option>
                    <option>Techno/Club DJ set</option>
                    <option>Techno/Club Live act</option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <%= label_tag :duration, 'Preferowana długość wystąpienia' %>
                <%= text_field_tag :duration, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :amount, 'Proponowana gaża' %>
                <%= text_field_tag :amount, nil, class: "form-control input-sm" %>
            </div>
            <br>

            <h1> <strong>informace o wydarzeniu<strong></h1><br><hr>

            <div class="form-group">
                <%= label_tag :partyname, 'Nazwa wydarzenia' %>
                <%= text_field_tag :partyname, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :partylocation, 'Miejsce imprezy / Nazwa klubu, adres' %>
                <%= text_field_tag :partylocation, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :partykind, 'Rodzaj wydarzenia / Jednorazowe, cykliczne, festiwal' %>
                <%= text_field_tag :partykind, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :people, 'Jaka jets przewidywana liczba uczestników imprezy?' %>
                <%= text_field_tag :people, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :sponsors, 'Czy wydarzenie jest sponsorowane? Jeśli tak - przez kogo?' %>
                <%= text_field_tag :sponsors, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :adres, 'Jacy inni artyści zostali zaproszeni oraz potwierdzili udział w wydarzeniu?' %>
                <%= text_field_tag :adres, nil, class: "form-control input-sm" %>
            </div>

            <div class="form-group">
                <%= label_tag :message, 'Dodatkowe uwagi' %>
                <%= text_field_tag :message, nil, class: "form-control input-sm" %>
            </div>
        
        
            <%= submit_tag "Wyślij wiadomość", class: "btn btn-default" %>
            <br>
        <% end %>
          