<table>
  <tbody>
    <tr>
      <td><p>You have received a new booking request. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p>Name: <%= @name %></p>
          <p>Adres: <%= @adres %></p>
          <p>Tel: <%= @tel %></p>
          <p>E-mail: <%= @emaile %></p>
          <p>Adres www: <%= @adreswww %></p>
          <p>Date: <%= @date %></p>
          <p>Set: <%= @set %></p>
          <p>Duration: <%= @duration %></p>
          <p>Money offered: <%= @amount %></p>
          <p>Party name: <%= @partyname %></p>
          <p>Party location: <%= @partylocation %></p>
          <p>Party kind: <%= @partykind %></p>
          <p>How many people: <%= @people %></p>
          <p>Sponsors: <%= @sponsors %></p>
          <p>Other artists: <%= @artists %></p>
          <p>Message: <%= @message %></p>
          </td>
    </tr>
  </tbody>
</table>

